body{
font-family: Arial, sans-serif;
margin:0;
background:#f4f4f4;
font-family: 'Roboto', sans-serif;
}

/* HEADER */

header{
background:#1f4e79;
color:white;
text-align:center;
padding:20px;
}

#course-title{
display:block;
font-size:1.5rem;
margin-bottom:10px;
}

/* NAVIGATION */

nav ul{
display:flex;
justify-content:center;
list-style:none;
background:#333;
padding:10px;
margin:0;
}

nav li{
margin:0 15px;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:yellow;
}

/* MAIN */

main{
max-width:900px;
margin:auto;
padding:20px;
}

/* GRID LAYOUT */

.cards{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

/* CARD */

.card{
background:white;
padding:20px;
border-radius:8px;
box-shadow:0 0 5px rgba(0,0,0,0.2);
}

/* IMAGES */

.card img{
width:120px;
margin:10px 0;
}

/* FOOTER */

footer{
background:#1f4e79;
color:white;
text-align:center;
padding:15px;
margin-top:20px;
}